/* Estilos para dados.html */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex; /* Adiciona flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura da tela inteira */
}

header {
    background: #48a0ff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
}

.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.location-item {
    background-color: #e7f3fe;
    border: 1px solid #b3d7ff;
    border-radius: 5px;
    padding: 15px; /* Aumenta o espaçamento interno */
    margin: 10px 0; /* Espaço entre os itens */
    width: 90%;
    max-width: 600px;
    text-align: left;
    font-size: 16px; /* Ajusta o tamanho da fonte */
}

#clearData {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
}

#clearData:hover {
    background-color: #c82333;
}

.error-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    color: rgb(0, 0, 0); /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    position: absolute; /* Permite o posicionamento absoluto */
    top: 50%; /* Move o contêiner para 50% da altura da tela */
    left: 55%; /* Move o contêiner para 50% da largura da tela */
    transform: translate(-50%, -50%); /* Centraliza o contêiner */
}